<div class="container">
  <!-- form -->
  <form class="form" (submit)="addTodo()">
    <input
      type="text"
      name="inputTodo"
      placeholder="enter todo"
      class="todoInput"
      [(ngModel)]="inputTodo"
    />
    <input type="submit" value="Add" class="btn btn-primary" />
  </form>

  <!-- list todos -->
  <div class="todos">
    <div *ngFor="let todo of todos; let i = index" class="todo">
      <div class="id">
        <span>{{ i + 1 }}</span>
      </div>
      <div
        class="title {{ todo.completed ? 'completed' : '' }}"
        (click)="toggleTodo(i)"
      >
        <h3>{{ todo.title }}</h3>
      </div>
      <div class="actions">
        <button class="btn btn-danger" (click)="deleteTodo(i)">Delete</button>
      </div>
    </div>
  </div>
</div>
